In [1]:
import pandas as pd
import random

In [2]:
best_movie = pd.read_csv("./data/bestmovie.csv")

In [4]:
best_show = pd.read_csv("./data/bestshow.csv")

In [8]:
best_movie

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB
1,1,Inception,2010,8.8,2268288,148,scifi,GB
2,2,Forrest Gump,1994,8.8,1994599,142,drama,US
3,3,Anbe Sivam,2003,8.7,20595,160,comedy,IN
4,4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US
...,...,...,...,...,...,...,...,...
382,382,The Trip,2021,6.9,19706,113,comedy,NO
383,383,The Dirt,2019,6.9,47603,108,drama,US
384,384,Top Gun,1986,6.9,329656,110,drama,US
385,385,Radhe Shyam,2022,6.9,21328,138,romance,IN
386,386,Sorry to Bother You,2018,6.9,75653,111,fantasy,US

In [23]:
best_show

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
0,0,Breaking Bad,2008,9.5,1727694,48,5,drama,US
1,1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US
2,2,Our Planet,2019,9.3,41386,50,1,documentary,GB
3,3,Kota Factory,2019,9.3,66985,42,2,drama,IN
4,4,The Last Dance,2020,9.1,108321,50,1,documentary,US
...,...,...,...,...,...,...,...,...,...
241,241,Evil Genius,2018,7.5,27516,48,1,crime,US
242,242,13 Reasons Why,2017,7.5,282373,58,4,drama,US
243,243,Lupin,2021,7.5,100575,46,3,crime,FR
244,244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR
245,245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US

In [34]:
#CONDITIONS
try:
    watch = int(input("What would you like to watch\nEnter 1 for Shows\nEnter 2 for Movies:"))

    if watch == 1:
        data = best_show
        wh = "Shows"
    elif watch == 2:
        data = best_movie
        wh = "Movies"
    else:
        print("\nINVALID INPUT !!!!!!!!!!!")

    min_rating = float(input("Enter minimum rating : "))
    main_genre = input("Enter Genre : ")
    rel_year = int(input("After which year : "))

except ValueError:
    print("\nINVALID INPUT !!!!!!!!!!!")

What would you like to watch
Enter 1 for Shows
Enter 2 for Movies:1
Enter minimum rating : 7.5
Enter Genre : crime
After which year : 2000

In [35]:
watch_list = []
no_of_movies = 5
for i in range(0,len(data)):
    scr = data.loc[i,"SCORE"]
    genre = data.loc[i,"MAIN_GENRE"]
    year = data.loc[i,"RELEASE_YEAR"]
    if len(watch_list) < no_of_movies:
        if scr >= min_rating and genre == main_genre and year >= rel_year:
            movie = data.loc[i,"TITLE"]
            watch_list.append(movie)
    elif len(watch_list) == 5:
        break

In [36]:
watch_list

['Mindhunter', 'Making a Murderer', 'Ozark', 'Babylon Berlin', 'Money Heist']

In [37]:
num = 1
print(f"Here Are Some Recommended {wh} : ")
for i in watch_list:
    print(f"{num}. {i}")
    num += 1

Here Are Some Recommended Shows :
1. Mindhunter
2. Making a Murderer
3. Ozark
4. Babylon Berlin
5. Money Heist